ion-content {
  --offset-bottom: auto !important;
  --overflow     : hidden;
  overflow       : auto;

  &::-webkit-scrollbar {
    display: none;
  }

  --background : #1b1b1b;
  --color      : #ffffff;
  padding      : 16px;
  margin-bottom: 50px;
}



.section-title {
  display        : flex;
  align-items    : center;
  justify-content: start;
  padding        : 5px 0;
  margin-left    : 30px;
  margin-top     : 25px;
}

.icon-add {
  margin-left           : 1%;
  font-size             : 24px;
  color                 : #ffb000;
  --ionicon-stroke-width: 16px;
}

.new-badge {
  background-color: #ffb000;
  border-radius   : 40px;
  font-size       : 6px;
  display         : flex;
  align-items     : self-end;
  justify-content : center;
  font-family     : 'Oswald', sans-serif;
  color           : #ffffff;
  margin          : 2px;
  margin-bottom   : 5px;
}

ion-item {
  display        : flex;
  justify-content: center;
  align-items    : center;
  padding        : 0;
}


.disabled-text {
  color  : #555555;
  opacity: 0.8;
}


.custom-section {
  font-size  : 22px;
  font-family: 'Oswald', sans-serif
}

